/* CSS global variables. */
:root {
    --A: rgb(24, 28, 46);
    --B: rgb(24, 28, 46);
    --C: rgb(24, 28, 46);
    --D: rgb(24, 28, 46);
}

/* Default values for each element. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    -webkit-tap-highlight-color: transparent;
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* Deleting all scrollbars */
::-webkit-scrollbar {
    display: none;
}

body {
    height: 100%;
    width: 100%;
    background: #2c2c2c;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* ENTER APP LABEL */
#enter-app {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#enter-app__logo {
    width: 90%;
    max-width: 700px;
    border-radius: 15px;
}

header,
main,
footer {
    display: none;
}

/* HEADER  */
header {
    background-color: rgba(37, 0, 122, 0.377);
    width: 100%;
    height: 80px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-inline: 20px;
    width: 100%;
}

.navbar__logo {
    height: 90%;
}

.navbar__logo a {
    outline: transparent;
    display: flex;
    justify-content: center;
    height: 100%;
}

.navbar__logo img {
    height: 100%;
}

.navbar__list {
    display: flex;
    gap: 1rem;
}

.navbar__list-item {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.logged-out-element {
    transform: rotate(230deg);
}

.navbar-buttons--activated {
    display: flex;
}

.navbar__toggle-btn {
    border: none;
    outline: transparent;
    background: transparent;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    width: 30px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

/* DROPDOWN MENU */
.dropdown-menu {
    z-index: 1000;
    display: none;
    flex-direction: column;
    position: absolute;
    right: 1rem;
    top: 100px;
    width: 300px;
    max-height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: max-height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu--open {
    max-height: 600px;
}

.dropdown-menu button {
    margin-inline: 15px;
    margin-top: 15px;
}

.dropdown-menu button:nth-child(3),
.dropdown-menu button:nth-child(5) {
    margin-bottom: 15px;
}

/* MAIN */
main {
    height: calc(100% - 120px);
    width: 100%;
    padding: 25px;
}

.start-container {
    flex-direction: column;
    gap: 1rem;
}

.start-container,
.login-container,
.register-container,
.activate-account-container,
.game-container,
.end-game-container,
.best-scores-container,
.user-container,
.add-question-container {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container--activated {
    display: flex;
}

/* FOOTER */
footer {
    background-color: transparent;
    width: 100%;
    height: 40px;
}

.foot {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

/* LOGIN */
#login-form {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    backdrop-filter: blur(8px);
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.35)
    );
    border-radius: 15px;
    box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.3);
    max-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 36px 24px;
    position: relative;
    text-align: center;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 25px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    background: none;
    color: inherit;
    border: none;
    padding: 2px;
    font: inherit;
    outline: transparent;
}

.popup {
    text-align: center;
    display: none;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 48%;
    width: 90%;
    height: 145px;
    z-index: 1001;
    border-radius: 15px;
    position: absolute;
    background-color: rgb(24, 28, 46);
    font-size: 1.5rem;
}

.popup p {
    width: 90%;
}

.popup--modifier {
    max-width: 600px;
}

.popup--activated {
    display: flex;
}

.form__input--container {
    position: relative;
    margin-bottom: 32px;
}

input,
.button-style1 {
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.25)
    );
    border: none;
    border-radius: 18px;
    box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
    padding: 12px 24px;
    font-size: 20px;
    outline: transparent;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.3s ease-out;
    will-change: box-shadow;
}

.button-style1 {
    cursor: pointer;
}

input {
    width: 100%;
}

label {
    cursor: text;
    left: 24px;
    font-style: italic;
    opacity: 0.4;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.2s ease-in, opacity 0.2s ease-in;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    opacity: 0;
    left: 100%;
}

input:hover,
.button-style1:hover {
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.3);
}

.navbar__toggle-btn:focus,
.back:focus,
.navbar__logo a:focus,
input:focus,
.button-style1:focus {
    outline: 2px solid rgba(255, 255, 255, 0.8);
}

.navbar__toggle-btn:focus:not(:focus-visible),
.back:focus:not(:focus-visible),
.navbar__logo a:focus:not(:focus-visible),
input:focus:not(:focus-visible),
.button-style1:focus:not(:focus-visible) {
    outline: none;
}

#register-button::before,
#login-button::before,
#add-question-button::before,
#authorization-button::before,
.user-button::before {
    content: "";
    background: rgba(255, 255, 255, 0.5);
    display: block;
    height: 100px;
    width: 50px;
    position: absolute;
    left: -70px;
    top: -50%;
    transform: skewX(-15deg);
    transition: left 0.15s linear;
}

#register-button:hover::before,
#login-button:hover::before,
#add-question-button:hover::before,
#authorization-button:hover::before,
.user-button:hover::before {
    left: 110%;
}

.form__icon {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.3);
    margin: 0 auto 24px;
    position: relative;
    overflow: hidden;
}

.form__icon::before {
    content: "";
    background: rgba(255, 255, 255, 0.6);
    height: 24px;
    width: 64px;
    display: block;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
}

.form__icon::after {
    left: 50%;
    transform: translateX(-50%);
    content: "";
    background: rgba(255, 255, 255, 0.6);
    height: 30px;
    width: 30px;
    display: block;
    position: absolute;
    bottom: 45%;
    border-radius: 50%;
}

.form__spacer {
    background: rgba(255, 255, 255, 0.55);
    height: 2px;
    margin: 0px auto 32px;
    width: 80%;
}

/* REGISTER */
#register-form {
    position: relative;
    font-family: Helvetica, sans-serif;
    backdrop-filter: blur(8px);
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.35)
    );
    font-size: 20px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
    box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.3);
    padding: 36px 24px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.user-details {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    column-gap: 1rem;
}

/* AUTH-WINDOW */
#authorization-form {
    position: relative;
    font-family: Helvetica, sans-serif;
    backdrop-filter: blur(8px);
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.35)
    );
    font-size: 20px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
    box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.3);
    padding: 36px 24px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

#authorization-form p {
    font-size: 0.9rem;
}

#authorization-button {
    margin-bottom: 15px;
}

/* GAME */
.game {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% auto;
    width: 100%;
    max-width: 800px;
    max-height: 100%;
    backdrop-filter: blur(2px);
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.05),
        rgba(56, 46, 46, 0.35)
    );
    border-radius: 15px;
    box-shadow: 0px 0px 24px 15px rgba(0, 0, 0, 0.3);
    overflow-x: hidden;
    overflow-y: auto;
}

#game-buttons {
    display: flex;
    align-items: start;
    gap: 8px;
}

#fifty-fifty,
#finish-game {
    border: 2px solid white;
    background-color: rgb(24, 28, 46);
    border-radius: 50%;
    box-shadow: none;
}

#buttons-price {
    display: grid;
    grid-template-columns: auto 150px;
}

#price-label-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    border-radius: 10px;
    text-align: end;
    box-shadow: 0px 0px 50px 1px rgba(255, 255, 255, 0.322);
}

.price-label {
    color: rgb(255, 153, 0);
    font-size: 1rem;
    border-top: 2px solid white;
    border-inline: 2px solid white;
    background-color: rgb(24, 28, 46);
    height: 100%;
    padding: 3px;
}

.price-guaranteed {
    color: white;
}

.price-guaranteed--achieved {
    background-color: rgb(255, 153, 0);
}

.price-label--activated {
    background-color: rgb(240, 236, 10);
    color: rgb(39, 39, 12);
    font-weight: 600;
}

.price-label:first-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid white;
}

.price-label:last-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#question-answers {
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#question-number {
    z-index: -2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#question-number-left {
    position: relative;
    border-right: 50px solid white;
    border-top: 36px solid transparent;
    border-bottom: 36px solid transparent;
}

#question-number-left::before {
    content: "";
    position: absolute;
    border-right: 47px solid rgb(240, 236, 10);
    border-top: 33px solid transparent;
    border-bottom: 33px solid transparent;
    top: -33px;
    left: 3px;
}

#question-number-mid {
    box-shadow: 0px 5px 25px rgb(138, 137, 77), 0px -5px 25px rgb(138, 137, 77),
        -55px 0px 25px rgb(138, 137, 77), 55px 0px 25px rgb(138, 137, 77);
    font-size: 30px;
    font-weight: 600;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-block: 3px solid white;
    height: 72px;
    background-color: rgb(240, 236, 10);
    color: rgb(39, 39, 12);
}

#question-number-right {
    position: relative;
    border-left: 50px solid white;
    border-top: 36px solid transparent;
    border-bottom: 36px solid transparent;
}

#question-number-right::before {
    content: "";
    position: absolute;
    border-left: 47px solid rgb(240, 236, 10);
    border-top: 33px solid transparent;
    border-bottom: 33px solid transparent;
    top: -33px;
    right: 3px;
}

#answers {
    position: relative;
    bottom: 0;
    width: 100%;
    max-width: 90%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#answers div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#answer-a::before,
#answer-b::before,
#answer-c::before,
#answer-d::before {
    content: "";
    position: absolute;
    height: 4px;
    background-color: white;
    width: 100vw;
    z-index: -999;
}

.left {
    position: relative;
    border-right: 50px solid white;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}

.left::before {
    content: "";
    position: absolute;
    border-top: 27px solid transparent;
    border-bottom: 27px solid transparent;
    left: 3px;
}

.l-A::before {
    border-right: 47px solid var(--A);
}

.r-A::before {
    border-left: 47px solid var(--A);
}

.l-B::before {
    border-right: 47px solid var(--B);
}

.r-B::before {
    border-left: 47px solid var(--B);
}

.l-C::before {
    border-right: 47px solid var(--C);
}

.r-C::before {
    border-left: 47px solid var(--C);
}

.l-D::before {
    border-right: 47px solid var(--D);
}

.r-D::before {
    border-left: 47px solid var(--D);
}

.mid {
    outline: none;
    text-align: start;
    border: none;
    border-block: 3px solid white;
    cursor: pointer;
    padding-block: 10px;
    width: 100%;
    height: 60px;
    background-color: rgb(24, 28, 46);
}

.mid:focus {
    border-block: 3px solid rgb(219, 223, 10);
}

.mid:focus:not(:focus-visible) {
    border-block: 3px solid white;
}

.selected-answer {
    background-color: var(--selected-answer-background);
    color: black;
    font-weight: 600;
}

.right-answer {
    background-color: rgb(5, 255, 13);
    color: black;
    font-weight: 600;
}

.right {
    position: relative;
    border-left: 50px solid white;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}

.right::before {
    content: "";
    position: absolute;
    border-top: 27px solid transparent;
    border-bottom: 27px solid transparent;
    right: 3px;
}

#question-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 90%;
}

#question-content::before {
    content: "";
    position: absolute;
    height: 4px;
    background-color: white;
    width: 100vw;
    z-index: -999;
}

#question-content-left {
    position: relative;
    border-right: 70px solid rgb(255, 255, 255);
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
}

#question-content-left::before {
    content: "";
    position: absolute;
    border-right: 67px solid rgb(24, 28, 46);
    border-top: 57px solid transparent;
    border-bottom: 57px solid transparent;
    top: -57px;
    left: 3px;
}

#question-content-mid {
    border-block: 3px solid white;
    padding: 10px;
    height: 120px;
    width: 100%;
    background-color: rgb(24, 28, 46);
    overflow-y: auto;
}

#question-content-right {
    position: relative;
    border-left: 70px solid white;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
}

#question-content-right::before {
    content: "";
    position: absolute;
    border-left: 67px solid rgb(24, 28, 46);
    border-top: 57px solid transparent;
    border-bottom: 57px solid transparent;
    top: -57px;
    left: -70px;
}

/* END GAME */
.end-game {
    position: relative;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    max-width: 800px;
    width: 100%;
    max-height: 100%;
    backdrop-filter: blur(2px);
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.05),
        rgba(56, 46, 46, 0.35)
    );
    border-radius: 15px;
    box-shadow: 0px 0px 24px 15px rgba(0, 0, 0, 0.3);
    overflow-x: hidden;
    overflow-y: auto;
}

.end-game > button {
    overflow: visible;
}

#end-game__logo {
    width: 100%;
    border-radius: 15px;
}

#amount-and-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#won-amount {
    padding: 5px;
    font-size: 2rem;
    border-bottom: 2px solid white;
}

#amount-and-result div:last-child {
    padding: 5px;
    font-size: 1.2rem;
}

.results-container {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 2px rgba(255, 255, 255, 0.603);
    border: 2px solid white;
}

.results,
.top-players {
    display: flex;
    justify-content: space-around;
    border-top: 2px solid white;
    padding: 5px;
}

.top-players {
    border: none;
}

.person {
    overflow: hidden;
    width: calc(100% - 70px);
}

.points {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 70px;
    border-left: 2px solid white;
}

.best-player {
    background-color: rgb(240, 236, 10);
}

.best-player div {
    color: black;
    font-weight: 600;
}

/* BEST SCORES */
#best-scores {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 400px;
    max-height: 100%;
}

.back--modifier1 {
    top: 4px;
    right: 4px;
}

/* USER PANEL */
#user-forms {
    position: relative;
    font-family: Helvetica, sans-serif;
    backdrop-filter: blur(8px);
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.35)
    );
    font-size: 20px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
    box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.3);
    padding: 36px 24px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.h-form {
    margin-bottom: 20px;
}

.h-form:last-child {
    margin-bottom: 0;
}

.change-user-form {
    display: flex;
    gap: 10px;
}

.form__input--container--modifier {
    margin-bottom: 0;
}

h5 {
    text-align: start;
    margin-bottom: 5px;
}

.user-button--disabled,
.email,
.login {
    background-color: rgb(75, 75, 75);
    color: #afafaf;
    pointer-events: none;
}

.delete-account {
    display: flex;
    gap: 0.4rem;
    margin-bottom: 10px;
}

.back--modifier2 {
    top: -29px;
    right: 0;
    width: 30px;
}

/* ADD QUESTION  */
#add-question-form {
    position: relative;
    font-family: Helvetica, sans-serif;
    backdrop-filter: blur(8px);
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.35)
    );
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.3);
    max-width: 100%;
    max-height: 100%;
    padding: 36px 24px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

#question-mark-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

#question-mark {
    width: 80px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.3);
    font-size: 4rem;
}

#question-mark i {
    color: rgba(255, 255, 255, 0.6);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/* SOUND CONTROLLER */
#sound-controller {
    background-color: rgb(143, 143, 143);
    padding: 0 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    align-items: center;
}

#slider {
    position: relative;
    width: 200px;
    height: 20px;
}

.back--modifier3 {
    position: static;
    margin-right: 15px;
    width: 30px;
}

.back--modifier3 i {
    font-size: 1.5rem;
    color: rgb(73, 73, 73);
}

.fa-slash {
    position: absolute;
}

#volume {
    position: absolute;
    left: -6px;
    top: 0;
    width: 212px;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    transition: none;
    z-index: 99;
    background: none;
    box-shadow: none;
    padding: 0;
    border-radius: 15px;
}

#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
}

#progress {
    width: 200px;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    overflow: hidden;
}

#progress::-webkit-progress-bar {
    background-color: rgb(219, 219, 219);
}

#progress::-webkit-progress-value {
    background-color: rgb(73, 73, 73);
}

@media screen and (max-width: 700px) {
    .game {
        position: relative;
        grid-template-rows: 80px auto;
        padding: 10px;
    }

    #buttons-price {
        display: flex;
        flex-direction: column-reverse;
        align-items: center !important;
    }

    #price-label-container {
        width: 100%;
        border-radius: 0;
        left: 0;
        top: 0;
        position: absolute;
        flex-direction: row;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .price-label {
        text-align: center;
        height: auto;
        width: 100%;
        font-size: 0.8rem;
        border: none;
        border-block: 2px solid white;
        border-left: 2px solid white;
    }

    .price-label:first-child {
        border-radius: 0;
        border-top-left-radius: 15px;
    }

    .price-label:last-child {
        border-radius: 0;
        border-top-right-radius: 15px;
        border-right: 2px solid white;
    }

    #question-number {
        margin-block: 8px;
    }

    #question-content {
        margin-bottom: 15px;
        max-width: 100%;
    }

    #question-content-left {
        border-right: 30px solid white;
    }

    #question-content-left::before {
        border-right: 27px solid rgb(24, 28, 46);
    }

    #question-content-right {
        border-left: 30px solid white;
    }

    #question-content-right::before {
        border-left: 27px solid rgb(24, 28, 46);
        left: -30px;
    }

    #answers {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        max-width: 100%;
        gap: 5px;
    }

    ::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (max-height: 840px) {
    .game {
        position: relative;
        grid-template-rows: 80px auto;
        padding: 10px;
    }

    #buttons-price {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    #price-label-container {
        width: 100%;
        border-radius: 0;
        left: 0;
        top: 0;
        position: absolute;
        flex-direction: row;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .price-label {
        text-align: center;
        height: auto;
        width: 100%;
        font-size: 0.8rem;
        border: none;
        border-block: 2px solid white;
        border-left: 2px solid white;
    }

    .price-label:first-child {
        border-radius: 0;
        border-top-left-radius: 15px;
    }

    .price-label:last-child {
        border-radius: 0;
        border-top-right-radius: 15px;
        border-right: 2px solid white;
    }

    #question-number {
        margin-block: 8px;
    }

    #question-content {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 650px) {
    .price-label {
        font-size: 0.7rem;
    }

    .game {
        grid-template-rows: 75px auto;
    }
}

@media screen and (max-width: 580px) {
    .price-label {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 530px) {
    .price-label {
        font-size: 0.5rem;
    }

    .game {
        grid-template-rows: 70px auto;
    }
}

@media screen and (max-width: 460px) {
    .price-label {
        font-size: 0.4rem;
    }
}

@media screen and (max-width: 400px) {
    #price-label-container {
        display: none;
    }

    .game {
        grid-template-rows: 58px auto;
    }
}

@media screen and (max-width: 768px) {
    /* FOR NAVBAR AND DROPDOWN MENU */
    .navbar__list {
        display: none;
    }

    .navbar__toggle-btn,
    .dropdown-menu {
        display: flex;
    }

    .user-details {
        display: block;
    }

    .change-user-form {
        display: block;
    }

    .user-button-wrapper {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }

    #add-question-form,
    #register-form {
        width: 100%;
        max-width: 500px;
    }

    #user-forms {
        width: 100%;
        max-width: 400px;
    }
}

/* JUSTIFY DROPDOWN MENU ON PHONES */
@media screen and (max-width: 576px) {
    .dropdown-menu {
        left: 1rem;
        width: unset;
    }
}

@media screen and (max-height: 770px) {
    #question-answers {
        gap: 5px;
    }

    #question-content-mid {
        height: 90px;
    }

    #question-content-left {
        border-right: 40px solid rgb(255, 255, 255);
        border-top: 45px solid transparent;
        border-bottom: 45px solid transparent;
    }

    #question-content-left::before {
        border-right: 37px solid rgb(24, 28, 46);
        border-top: 42px solid transparent;
        border-bottom: 42px solid transparent;
        top: -42px;
    }

    #question-content-right {
        border-left: 40px solid white;
        border-top: 45px solid transparent;
        border-bottom: 45px solid transparent;
    }

    #question-content-right::before {
        border-left: 37px solid rgb(24, 28, 46);
        border-top: 42px solid transparent;
        border-bottom: 42px solid transparent;
        top: -42px;
        left: -40px;
    }

    #question-number-mid {
        height: 40px;
    }

    #question-number-left {
        border-right: 30px solid white;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
    }

    #question-number-left::before {
        border-right: 27px solid rgb(240, 236, 10);
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        top: -17px;
    }

    #question-number-right {
        border-left: 30px solid white;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
    }

    #question-number-right::before {
        border-left: 27px solid rgb(240, 236, 10);
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        top: -17px;
    }
}
